ADMIN_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/tbank_loyalt
ADMIN_DB_SCHEMA=admin
ADMIN_CORE_SCHEMA=core
ADMIN_PARTNER_SCHEMA=partner
ADMIN_DB_ECHO=false
ADMIN_DEBUG=false
ADMIN_LOG_LEVEL=INFO

ADMIN_PARTNER_SERVICE_URL=http://localhost:8002
